---
---
<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/modules/4-2">
  <title>Digital Literacy for Effective AI</title>
</head>
<body>
  <a href="/modules/4-2">Go to Module 4.2</a>
</body>
</html>
